@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --primary: #134a9c;
    --secondary: #0e4598;
    --gray: #2a3344;
    --light-gray: #313c4e;
    --accent: #408cfd;
    --white: #ffffff;
    --black: #000000;
    --body-bg: #edf2fa;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
    font-size: 16px;
    line-height: 1.2rem;
    transition: 0.3s all ease-in-out;
}
body {
    height: 100vh;
    background-color: var(--body-bg);
}
p {
    margin: 0.3rem 0rem;
}
.page_content:not(#home) {
    display: none;
}
.row {
    display: flex;
    margin: 1rem 0rem;
}
.form-control {
    width: 100%;
    padding: 0.5rem;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column; /*do not remove*/
    }
    .profile {
        display: flex;
        flex-direction: column; /*do not remove*/
        background-color: var(--primary);
        color: white;
        gap: 1rem;
        padding: 1.5rem 2.5rem;
        justify-content: space-between;
    }
    .top_section {
        font-weight: 500;
        color: var(--accent);
    }
    .top_section > .name {
        font-weight: 600;
        color: var(--white);
        font-size: 1.2rem;
    }
    .mid_section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .mid_section > .salute {
        font-weight: 500;
        color: var(--accent);
    }
    .introd {
        font-weight: 600;
        font-size: 2.5rem;
    }
    .mid_section > .brief {
        font-size: 0.75rem;
    }
    .bot_section {
        display: flex;
        gap: 1rem;
    }
    .bot_section > a {
        color: var(--accent);
        font-weight: 300;
        border: 1px solid var(--accent);
        border-radius: 25%;
    }
    .bot_section > a > i {
        padding: 0.5rem;
        font-size: 0.65rem;
    }
    .content {
        display: flex;
        flex-direction: column;
    }
    .page_content {        
        padding: 1.5rem 2.5rem;
    }
    .hero_banner {
        margin-bottom: 1rem;
    }
    .hero_content {
        font-size: 0.8rem;
        text-align: center;
    }
    .page_title {
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .page-body, .page-body > p {
        font-size: 0.9rem;
        line-height: 1.5rem;
        text-align: justify;
    }
    nav {
        background-color: var(--gray);
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
    }
    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 1.5rem 2.5rem;
        margin-top: 4rem;
        height: 100%;
    }
    nav ul li a {
        display: block;
        color: var(--white);
        text-decoration: none;
        padding: 1rem 0.5rem;
    }
    nav ul li a:hover, nav ul li a.active, nav ul li a:focus {
        background-color: var(--light-gray);
    }
    .nav_toggle {
        background-color: var(--gray);
        border: 0;
        color: var(--white);
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: 1rem;
        z-index: 9;
    }
    .open_nav {
        overflow: hidden;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: column; /*do not remove*/
    }
    .profile {
        display: flex;
        flex-direction: column; /*do not remove*/
        background-color: var(--primary);
        color: white;
        gap: 1rem;
        padding: 1.5rem 2.5rem;
        justify-content: space-between;
    }
    .top_section {
        font-weight: 500;
        color: var(--accent);
    }
    .top_section > .name {
        font-weight: 600;
        color: var(--white);
        font-size: 1.2rem;
    }
    .mid_section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .mid_section > .salute {
        font-weight: 500;
        color: var(--accent);
    }
    .introd {
        font-weight: 600;
        font-size: 2.5rem;
    }
    .mid_section > .brief {
        font-size: 0.75rem;
    }
    .bot_section {
        display: flex;
        gap: 1rem;
    }
    .bot_section > a {
        color: var(--accent);
        font-weight: 300;
        border: 1px solid var(--accent);
        border-radius: 25%;
    }
    .bot_section > a > i {
        padding: 0.5rem;
        font-size: 0.65rem;
    }
    .content {
        display: flex;
        flex-direction: column;
    }
    .page_content {        
        padding: 1.5rem 2.5rem;
    }
    .home {
        display: flex; /*Added this  768*/
        justify-content: center; /*Added this  768*/
        align-items: center; /*Added this  768*/
        gap: 2rem; /*Added this  768*/
    }
    .hero_banner {
        margin-bottom: 1rem;
        width: 40vw; /*Changed This 768*/
    }
    .hero_content {
        font-size: 0.8rem;
        text-align: justify; /*Changed This 768*/
        width: 60vw; /*Changed This 768*/
    }
    .page_title {
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .page-body, .page-body > p {
        font-size: 0.9rem;
        line-height: 1.5rem;
        text-align: justify;
    }
    nav {
        background-color: var(--gray);
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
    }
    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 1.5rem 2.5rem;
        margin-top: 4rem;
        height: 100%;
    }
    nav ul li a {
        display: block;
        color: var(--white);
        text-decoration: none;
        padding: 1rem 0.5rem;
    }
    nav ul li a:hover, nav ul li a.active, nav ul li a:focus {
        background-color: var(--light-gray);
    }
    .nav_toggle {
        background-color: var(--gray);
        border: 0;
        color: var(--white);
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: 1rem;
        z-index: 9;
    }
    .open_nav {
        overflow: hidden;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        display: flex;
        flex-direction: row; /*do not remove*/
        justify-content: space-between;
        height: 100vh;
    }
    .profile {
        display: flex;
        flex-direction: column; /*do not remove*/
        background-color: var(--primary);
        color: white;
        gap: 1rem;
        padding: 1.5rem 2.5rem;
        justify-content: space-between;
        width: 40%;
    }
    .top_section {
        font-weight: 500;
        color: var(--accent);
    }
    .top_section > .name {
        font-weight: 600;
        color: var(--white);
        font-size: 1.2rem;
    }
    .mid_section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .mid_section > .salute {
        font-weight: 500;
        color: var(--accent);
    }
    .introd {
        font-weight: 600;
        font-size: 3rem;
        margin: 1rem 0rem;
    }
    .mid_section > .brief {
        font-size: 0.9rem;
    }
    .bot_section {
        display: flex;
        gap: 1rem;
    }
    .bot_section > a {
        color: var(--accent);
        font-weight: 300;
        border: 1px solid var(--accent);
        border-radius: 25%;
    }
    .bot_section > a > i {
        padding: 0.5rem;
        font-size: 0.65rem;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 55%;
        padding: 1rem;
    }
    .page_content {
        padding: 0rem 1.5rem;
        height: 100vh;
    }
    .page_content:not(#home) {
        padding-top: 1rem;
    }
    .home {
        flex-direction: column; /*Added this 992*/
    }
    .hero_banner {
        margin-bottom: 1rem;
        width: auto; /*Changed This 768*/
    }
    .hero_content {
        font-size: 1rem;
        text-align: center; /*Changed This 768*/
        width: auto; /*Changed This 768*/
        line-height: 1.5rem;
    }
    .page_title {
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .page-body, .page-body > p {
        font-size: 0.9rem;
        line-height: 1.5rem;
        text-align: justify;
    }
    nav {
        background-color: var(--gray);
        height: 100%;
        width: 5%;
        display: block;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    nav ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 0rem;
        margin-top: 0rem;
        height: auto;
        transform: rotate(90deg);
        gap: 1rem;
    }
    nav ul li a {
        display: block;
        color: var(--white);
        text-decoration: none;
        padding: 1rem 0.5rem;
    }
    nav ul li a:hover, nav ul li a.active, nav ul li a:focus {
        background-color: var(--light-gray);
    }
    .nav_toggle {
        background-color: var(--gray);
        border: 0;
        color: var(--white);
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: 1rem;
        z-index: 9;
        display: none;
    }
    .open_nav {
        overflow: hidden;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .mid_section > .brief {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    .introd {
        font-weight: 600;
        font-size: 4rem;
        margin: 1rem 0rem;
    }
    .page-body, .page-body > p {
        font-size: 1rem;
        line-height: 1.6rem;
    }
}

/* Double Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {}